/* Custom styles */

body{
    min-height: 100%;
    background: white;
    font-size: 14px;
    font-family: 'PT Sans', sans-serif;
}
h1{
    font-size: 40px;
}
.red{
    color: red;
}
footer{
    background-color: aliceblue;
    font-size: 13px;
    color: black;
}
footer > a{
    color: black;
    text-decoration: underline;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.color-facebook{
    color: #3c5a99;
}
.color-twitter{
    color: #1dcaff;
}
.color-whatsapp{
    color: #25d366;
}